@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Oswald:200,300,400,500,600,700');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #777777;
}

header {
    border-top: 8px solid #353628;
}

#logo {
    font-family: Oswald;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    font-size: 200%;
    color: #353628;
    padding-left: 20px;
    }


#logo, #menu {
    line-height: 40px;
}

#menu {
    float: right;
}

#menu > li {
    list-style-type: none;
    font-family: Raleway;
    font-weight: 200;
    font-size: 80%;
    letter-spacing: 2px;
    float: left;
    margin-right: 30px;
    }

#menu a {
    text-decoration: none;
    color: #353628;
}

a:hover {
    border-bottom:1px solid#353628;
}

.active {
   border-bottom:1px solid#353628; 
}

.banner-container{
    background: url(../images/banner.jpg) no-repeat center; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#banner {
    background-color: RGBA(67,70,39,0.8);
}

.cover-text {
    color: #fff;
    font-family: Oswald;
    text-transform: uppercase;
    text-align: center;
}
    
.cover-text h2 {
    letter-spacing: 2px;
    font-size: 30px;
}


/*--------------------BANNER OLD--------------------
.banner-image {
    width: 100%;
    display: block;
    border-top: 8px solid #353628;
    border-bottom: 8px solid #353628;
}

.cover-text {
    color: #ef733e;
    font-family: Oswald;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    width: 60%;
    height: 20%;
    padding-top: 45px;
    background-color: RGBA(67,70,39,0.8);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    } 

--------------------END BANNER OLD--------------------*/

    /* ---------------------------------------------------------------- buttons */
#select-user {
    padding-top: 30px;
    padding-bottom: 100px;
}

.btn--cta {
  font-weight: bold;
  border-radius: 40px;
  width: 300px;
  height: 60px;
  position: absolute;
 }

.btn--green {
  color: white;
  background-color: #353628;
  border-color: #353628;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
  background-color: #ef733e;
  border-color: #ef733e;
  color: white;
}

footer {
    background-color: #353628;
    color: #fafafa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;

}

.social-links i {
  font-size: 100%;
  padding: 3%;
  color: #fff;
}