@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Oswald:200,300,400,500,600,700');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #777777;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    border-top: 8px solid #353628;
}

#logo {
    font-family: Oswald;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    font-size: 200%;
    color: #353628;
    padding-left: 20px;
    }


#logo, #menu {
    line-height: 40px;
}
-------

#logo, .menu {
    height: 40px;
    line-height: 40px;
}


.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: #353628;
    margin: 0 10px;
    line-height: 70px;
}


label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
}

a:hover {
    border-bottom:1px solid#353628;
}

.active {
   border-bottom:1px solid#353628; 
}

/* ---------------------------------------------------------------- banner */

.banner-container{
    background: url(../images/banner.jpg) no-repeat center; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top: 8px solid #353628;
    border-bottom: 8px solid #353628;
}

#banner {
    background-color: RGBA(67,70,39,0.8);
}

.cover-text {
    color: #fff;
    font-family: Oswald;
    text-transform: uppercase;
    text-align: center;
}
    
.cover-text h2 {
    letter-spacing: 2px;
    font-size: 30px;
}


/* ---------------------------------------------------------------- buttons */
#select-user {
    padding-top: 30px;
}

.btn--cta {
  font-weight: bold;
  border-radius: 40px;
  width: 300px;
  height: 60px;
  position: relative;
  padding-top: 10px;
 }

.btn--green {
  color: white;
  background-color: #353628;
  border-color: #353628;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
  background-color: #ef733e;
  border-color: #ef733e;
  color: white;
}

/* ---------------------------------------------------------------- end buttons */

/* ---------------------------------------------------------------- footer */
footer {
    background-color: #353628;
    color: #fafafa;
    padding: 0;
    margin-top: auto;
    text-align: center;

}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;

}

.social-links i {
  font-size: 100%;
  padding: 3%;
  color: #fff;
}

/* ---------------------------------------------------------------- end footer */