@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Oswald:200,300,400,500,600,700');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #777777;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* ---------------------------------------------------------------- HEADER */
/* inspired by: https://www.youtube.com/watch?v=oLgtucwjVII&feature=youtu.be */
header {
    border-top: 8px solid #353628;
}

label {
    margin-bottom: 0px;
}

.navigation {
    box-sizing: border-box;
    background: #fafafa;
    height: 80px;
    width: 100%;
}

#logo {
    font-family: Oswald;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #353628;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;

}

.navigation ul {
    list-style: none;    
    float: right;
    margin-right: 20px;    
}


.navigation ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 px;
}

.navigation ul li a {
    text-decoration: none;
    color: #353628;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.active,.navigation a:hover {
    text-decoration: none;
    background: #ef733e;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #353628;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


dl, ol, ul {
    margin-bottom: 0px;
} 
/* ---------------------------------------------------------------- END HEADER */
/* ---------------------------------------------------------------- BANNER */
/* Inspired by: https://jorgan-source.github.io/MilestoneProject1JOrgan/ -*/
.banner-container{
    background: url(../images/banner.jpg) no-repeat center; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top: 8px solid #353628;
    border-bottom: 8px solid #353628;
    
}

#banner {
    background-color: RGBA(67,70,39,0.8);
}

.cover-text {
    color: #fff;
    font-family: Oswald;
    text-transform: uppercase;
    text-align: center;
}
    
.cover-text h2 {
    letter-spacing: 2px;
    font-size: 30px;
}
/* ---------------------------------------------------------------- END BANNER */
/* ---------------------------------------------------------------- BUTTONS */
#select-user {
    padding-top: 20px;
}

.btn--select-user {
  font-weight: bold;
  border-radius: 40px;
  height: 60px;
  width: 300px;
  padding-top: 10px;
  color: white;
  background-color: #353628;
  border-color: #353628;
  text-align: center;
  margin: 10px;
}

.btn--select-user:hover,
.btn--select-user:active,
.btn--select-user:focus,
.btn--select-user:active:focus {
  background-color: #ef733e;
  border-color: #ef733e;
  color: white;
}

#select-user ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}
/* ---------------------------------------------------------------- END BUTTONS */
/* ---------------------------------------------------------------- ABOUT */
.about {
    padding: 1rem;
    font-size: 1rem;
}

.h3-about {
    text-align: center;
}

.p-about {
    text-align: justify;
}
/* ---------------------------------------------------------------- END ABOUT */
/* ---------------------------------------------------------------- COURSES */
.container-courses {
    margin-top: 30px;
    margin-bottom: 30px;  
    text-align: justify;
}


@media screen and (max-width: 1200px) {
    .courses-details {
        text-align: center;
    }
}

/* ---------------------------------------------------------------- END COURSES */
/* ---------------------------------------------------------------- FEES */
.page-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

hr {
    margin: auto;
    width: 120px;
    border-top: 6px solid #ef733e;
}

.container-fees {
    margin-top: 30px;
    margin-bottom: 30px;
}
.col-fees {
    border: 1px solid #353628;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.col-fees i {
    font-size: 30px;
    }
/* ---------------------------------------------------------------- END FEES */

/* ---------------------------------------------------------------- CONTACT FORM */
/* Inspired by: https://www.w3schools.com/howto/howto_css_contact_form.asp */

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
}

input[type=submit] {
  background-color: #353628;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ef733e;
}

.form-container {
  border-radius: 5px;
  background-color: #fafafa;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ---------------------------------------------------------------- END CONTACT FORM */
/* ---------------------------------------------------------------- FOOTER */
footer {
    background-color: #353628;
    color: #fafafa;
    padding: 0;
    margin-top: auto;
    text-align: center;

}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;

}

.social-links i {
  font-size: 100%;
  padding: 3%;
  color: #fff;
}

.social-links li a i:hover {
    color: #ef733e;
}

/* ---------------------------------------------------------------- END FOOTER */
/* ---------------------------------------------------------------- MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    #select-user ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) { 
    .banner-container {
        height: 35em;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    .navigation ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #353628;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }

    .navigation ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navigation ul li a {
        font-size: 20px;
        color: #fff;
    }

    .active,.navigation a:hover {
        background: none;
        color: #ef733e;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
